@if (show) {
<div class="toast-container" [ngClass]="[type, show ? 'show' : '', hide ? 'hide' : '']">
  <div class="left-side"></div>
  <img src="/assets/img/info.png" alt="">
    <!-- hier könnte man je nach type andere icons anzeigen  -->
    <!-- @if (type === 'error') {
                <i class=""></i>
            } -->
  <div class="toast-message">
    {{ message }}
  </div>
  <img src="/assets/img/vector.png" alt="">
  <img (click)="closeToast()" class="close-img" src="/assets/img/close_small.png" alt="">
</div>
}
