@import './../../../../styles.scss';

section{
    width: 100%;
    height: auto;
    background-color: #060606;
}
.btnBoxRight{
    position: relative;
    z-index: 4;
    padding-right: 5rem;
}

header{
    @include dFlex($j: space-between);
    padding: 1rem;
    width: calc(100% - 2rem);
    position: absolute;
    top: 0;
    background-color: #060606;
    .logoBox{
        width: auto;
        display: flex;
        padding-left: 5rem;
        .logo{
            cursor: pointer;
            z-index: 2;
            margin-right: 5rem;
        }
        .headerBtns{
            @include dFlex($g: 2rem);
            z-index: 2;
            .headerBtns{
                color: whitesmoke;
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: x-large;
            }
        }
    }
}


.profilSelection{
    position: absolute;
    top: 120%;
    right: 77px;
    width: 140px;
    height: auto;
    padding: 12px;
    @include dFlex($g: 12px);
    flex-direction: column;
    background-color: #1e1e1e;
    border-radius: 12px;
    .profilSelectionBtn{
        color: whitesmoke;
        border: none;
        background: transparent;
        font-size: large;
        cursor: pointer;
        @include dFlex($g: 6px);
        &:hover {
            color: #6e67d1;
            img {
                filter: invert(42%) sepia(100%) saturate(4000%) hue-rotate(220deg) brightness(95%) contrast(90%);
            }
        }
    }
}


.slideInAnimation {
    animation: slideDown 0.1s forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideOutAnimation {
    animation: slideUp 0.3s forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    100% {
        transform: translateY(-200%);
        opacity: 0;
    }
}
.categorySelection{
    position: absolute;
    top: 81%;
    left: 221px;
    width: 265px;
    height: auto;
    padding: 12px;
    @include dFlex($g: 12px);
    flex-direction: column;
    background-color: #1e1e1e;
    border-radius: 12px;
    .profilSelectionBtn{
        color: whitesmoke;
        border: none;
        background: transparent;
        font-size: large;
        cursor: pointer;
        @include dFlex($g: 6px);
        &:hover {
            color: #6e67d1;
            img {
                filter: invert(42%) sepia(100%) saturate(4000%) hue-rotate(220deg) brightness(95%) contrast(90%);
            }
        }
    }
}