@import "./../../../../styles.scss";

section {
  height: 100dvh;
  width: 100vw;
  @include dFlex($j: space-between);
  flex-direction: column;
  background-image: url("../../../../assets/img/background_img_woman.webp");
  background-size: cover;
  background-position: center;
}
.loginBtn {
  color: whitesmoke;
  background-color: $btnColor;
  padding: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 40px;
  font-size: larger;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    background-color: whitesmoke;
    color: $btnColor;
  }
}

.contentDiv {
  @include dFlex($j: space-between);
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
  min-width: 400px;
  h1 {
    font-size: 3.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: $btnColor;
    line-height: 1;
  }
  .positionInputs {
    @include dFlex($a: start, $g: 12px);
    flex-direction: column;
    width: 100%;
    .normalInput {
      padding: 12px;
      padding-left: 16px;
      padding-right: 16px;
      border: 1px solid $btnColor;
      border-radius: 30px;
      outline: none;
      font-size: larger;
      width: calc(100% - 2rem);
      color: $btnColor;
    }
  }
}

.submitBtn {
  margin-top: 1.2rem;
  color: whitesmoke;
  background-color: $btnColor;
  padding: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 40px;
  font-size: larger;
  border: 1px solid $btnColor;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    background-color: #0919ce;
    color: white;
  }
}

.submitBtnDisabled {
  margin-top: 1.2rem;
  color: #ffff;
  background: #2e3edf80;
  padding: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 40px;
  font-size: larger;
  border: 1px solid $btnColor;
  transition: ease-in-out 0.3s;
}

.invalidFeedback {
  width: 100%;
  @include dFlex($j: flex-start, $g: 16px);
  color: red;
  img {
    margin-left: 16px;
    margin-right: 16px;
  }
}

::placeholder {
  color: $btnColor;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: $btnColor;
}

.inputContainer {
  width: 100%;
  @include dFlex($j: flex-start);
  .emailInput {
    padding: 12px;
    padding-left: 16px;
    padding-right: 48px;
    border: 1px solid $btnColor;
    border-radius: 30px;
    outline: none;
    font-size: larger;
    width: calc(100% - 4rem);
    color: $btnColor;
  }

  img {
    margin-left: -40px;
    cursor: pointer;
  }
}

.infoText {
  padding: 32px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 18px;
  span {
    color: black;
    font-size: 18px;
    font-weight: 400;
  }
}

.successMessage{
    @include dFlex($j: space-between);
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    min-width: 400px;
    h1 {
      font-size: 3.5em;
      margin: 0;
      margin-bottom: 0.5rem;
      color: $btnColor;
      line-height: 1;
    }
   p{
    color: black;
    font-size: 18px;
    font-weight: 400;
   }
}
@media (max-width: 630px) {
   
 

  .contentDiv {
      padding-bottom: 16px;
      min-width: auto;
      width: 254px;
      padding: 1.5rem;
    
      h1 {
          font-size: 2.3em;
          margin: 0;
          margin-bottom: 0.5rem;
      }
  }

  .submitBtn {
      padding: 0;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: medium;
      width: 96px;
  }
  
  .submitBtnDisabled{
      padding: 0;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: medium;
      width: 96px;
  }

  input[type="checkbox"]{
      width: 16px;
      height: 16px;
  }
}
.infoText {
  padding: 4px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
  span {
    color: black;
    font-size: 18px;
    font-weight: 400;
  }
}


