<section>
    <div class="body">
        @if(videoService.favVideos.length > 0){
            @for (video of videoService.favVideos; track $index) {
                <app-video-preview
                    [video]="video"
                    (videoSelected)="onVideoSelected($event)"
                ></app-video-preview>
            }
        }
    </div>
    <app-video-display
        *ngIf="selectedVideo"
        [video]="selectedVideo"
        (closeDisplay)="closeVideoDisplay()"
    ></app-video-display>
</section>