section {
    height: calc(100dvh - 160px);
    width: calc(100% - 80px);
}

.videoBox {
    color: whitesmoke;
    width: calc(100% - 4rem);
    background: linear-gradient(to bottom, 
        #0F1F26 3%,
        #060606 16%,
        #060606 100% 
    );
    padding: 3rem;
    padding-left: 6rem;
    margin-top: 64px;
    height: 100%;
    .h1Div {
        margin-top: 6rem;
    }
    .videoList {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; 
        align-content: flex-start;
        gap: 26px;
        overflow-y: auto; /* Vertikales Scrollen erlauben */
        overflow-x: hidden; /* Kein horizontales Scrollen */
        scrollbar-width: none; /* Firefox scrollbar verstecken */
        -ms-overflow-style: none; /* Internet Explorer scrollbar verstecken */
        max-height: calc(100dvh - 160px - 3rem - 64px - 6rem); /* Höchsthöhe der Liste für das Scrollen begrenzen */
    }
}

.videoBox::-webkit-scrollbar {
    display: none; /* Safari und Chrome scrollbar verstecken */
}

