@import './../../../styles.scss';

section{
    width: 100%;
    height: auto;
    background-color: #060606;
}

.videoPlayerBox {
    @include dFlex();
    width: 100%;
    height: 80dvh;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    object-fit: cover;
    overflow: hidden;
    .backgroundVideo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px -62px 80px 0px rgba(0, 0, 0, 0.80);
        top: 0;
        left: 0;
        z-index: 1;
    }
}


.blueBtn{
    @include dFlex($g: 8px);
    color: whitesmoke;
    background-color: $btnColor;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 26px;
    font-size: large;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    z-index: 2;
    &:hover {
        background-color: white;
        color: $btnColor;
        img {
            filter: invert(42%) sepia(100%) saturate(4000%) hue-rotate(220deg) brightness(95%) contrast(90%);
        }
    }
}


header{
    @include dFlex($j: space-between);
    padding: 1rem;
    width: calc(100% - 2rem);
    position: absolute;
    .logo{
        z-index: 2;
    }
}


.descriptionDivBreakout{
    color: whitesmoke;
    position: absolute;
    top: 28%;
    left: 8%;
    width: 400px;
    @include dFlex($a: flex-start, $g: 32px);
    flex-direction: column;
    text-align: start;
    h1{
        font-size: 5rem;
        margin: 0;
    }
    span{
        font-size: large;
    }
}


.videoDiv{
    width: 20px;
    height: 2000px;
    background-color: aqua;
}