<div class="videoPlayerBox">
    <video autoplay muted loop id="myVideo" class="backgroundVideo">
        <source src="../../../assets/videos/Breakout.mp4" type="video/mp4">
    </video>
    <div class="shadow"></div>
</div>

<section>
    <header>
        <div class="logoBox">
            <img src="../../../assets/img/logo_small.svg" alt="logo" class="logo"/>
            <div class="headerBtns">
              <button class="headerBtns">Category</button>
              <button class="headerBtns">Favorites</button>
              <button class="headerBtns">Profile</button>
            </div>
        </div>
        <button class="blueBtn"><img src="../../../assets/icons/logout.svg" alt="" />Log out</button>
    </header>

    <div class="descriptionDivBreakout">
        <h1>Breakout</h1>
        <span>
            In a high-security prison, a wrongly convicted man formulates a
            meticulous plan to break out and prove his innocence. He must navigate a
            web of alliances and betrayals to reclaim his freedom and expose the
            truth.
        </span>
        <button class="blueBtn"><img src="../../../assets/icons/play_arrow.svg" alt="">Play</button>
    </div>
    
    <div class="videoDiv">
        <div>
            <h1>New on Videoflix</h1>
            @for (video of newVideos; track $index) {
                <app-video-preview></app-video-preview>
            }
        </div>
        <div>
            <h1>Category 1</h1>
            @for (video of newVideos; track $index) {
                <app-video-preview></app-video-preview>
            }
        </div>
        <div>
            <h1>Category 2</h1>
            @for (video of newVideos; track $index) {
                <app-video-preview></app-video-preview>
            }
        </div>
        <div>
            <h1>Category 3</h1>
            @for (video of newVideos; track $index) {
                <app-video-preview></app-video-preview>
            }
        </div>
    </div>
</section>
