<!-- <div class="videoPlayerBox">
    <video autoplay muted loop id="myVideo" class="backgroundVideo">
        <source src="../../../assets/videos/Breakout.mp4" type="video/mp4">
    </video>
    <div class="shadow"></div>
</div> -->

<section>

    <div class="videoDiv">
        <div class="videoDiv2">
            <div class="videoPosition">
                <h2>{{ selectedCategory}}</h2>
                <div class="video4LoopBox">
                    @for (video of categoryVideos; track $index) {
                         <app-video-preview
                            [video]="video"
                            (videoSelected)="onVideoSelected($event)"
                        ></app-video-preview>
                    }
                </div>
            </div>
        
            </div>
        </div>
        <app-video-display
                      *ngIf="selectedVideo"
                      [video]="selectedVideo"
                      (closeDisplay)="closeVideoDisplay()"
                    ></app-video-display>
</section>

