
.video-display-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-display-content {
  background: #141414;
  // background: #010101; //videoplayerfarbe
  border-radius: 8px;
  max-width: 28dvw;
  /* max-height: 100%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100dvh;
  justify-content: center;
}

.video-player-content {
  position: relative;
}

h2 {
  position: absolute;
  top: 18%;
  left: 16px;
  font-size: 50px;
}
.presents-logo {
  position: absolute;
  top: 18%;
  left: 8px;
  background: linear-gradient(0deg, #3547ff -0.03%, #8903ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  font-size: 42px;
}
.presents-text {
  position: absolute;
  top: 22%;
  left: 39px;
  opacity: 72%;
  -webkit-background-clip: text;
  background-clip: text;
  color: #ffff;
}
.img-back {
  position: absolute;
  top: 18px;
  right: 24px;
  cursor: pointer;
}
.video-img-container {
  position: relative;
  img {
    width: -webkit-fill-available;
    height: auto;
    mask-image: linear-gradient(to top, transparent 0%, black 5%);
  }
}
#videoPlayer {
  cursor: pointer;
  margin-top: 24px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.description-container {
  display: flex;
  //   position: absolute;
  top: 6px;
  flex-direction: column;
  text-align: justify;
  padding: 8px;
  max-width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  .description-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 32px;
    }
    .starIconImg{
      width: 32px;
      height: 32px;
      object-fit: contain;
      z-index: 2;
      cursor: pointer;
    }
  }
  .description-text {
    font-size: 16px;
    padding-left: 8px;
  }
}
