<section>
    <input type="text" name="" id="" [(ngModel)]="first_name" placeholder="first name">
    <input type="text" name="" id="" [(ngModel)]="last_name" placeholder="last name">
    <input type="email" name="" id="" [(ngModel)]="userService.user_email" placeholder="email">
    <input type="password" name="" id="" [(ngModel)]="password" placeholder="password">
    <input type="password" name="" id="" [(ngModel)]="confirm_password" placeholder="confirm password">
    <button routerLink="/login" routerLinkActive="router-link-active" >Back</button>
    <button (click)="registerUser()">Register</button>
</section>
