@import './../../../../styles.scss';

section {
    height: 100dvh;
    width: 100vw;
    @include dFlex($j: space-between);
    flex-direction: column;
    background-image: url('../../../../assets/img/background_img_woman.webp');
    background-size: cover;
    background-position: center;
}

.headerDiv {
    @include dFlex($j: space-between);
    padding: 3rem;
    width: calc(100% - 6rem);

    img {
        width: 20rem;
        height: auto;
        object-fit: contain;
    }

    .loginBtn {
        color: whitesmoke;
        background-color: $btnColor;
        padding: 26px;
        padding-top: 12px;
        padding-bottom: 12px;
        border: none;
        border-radius: 40px;
        font-size: larger;
        cursor: pointer;
        transition: ease-in-out 0.3s;

        &:hover {
            background-color: whitesmoke;
            color: $btnColor;
        }
    }
}

.contentDiv {
    @include dFlex($j: space-between);
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    min-width: 400px;
    h1 {
        font-size: 3.5em;
        margin: 0;
        margin-bottom: 0.5rem;
        color: $btnColor;
    }
    .positionInputs{
        @include dFlex($a: start, $g: 12px);
        flex-direction: column;
        width: 100%;
        .normalInput {
            padding: 12px;
            padding-left: 16px;
            padding-right: 16px;
            border: 1px solid $btnColor;
            border-radius: 30px;
            outline: none;
            font-size: larger;
            width: calc(100% - 2rem);
            color: $btnColor;
        }
    }
}

.submitBtn {
    margin-top: 1.2rem;
    color: whitesmoke;
    background-color: $btnColor;
    padding: 26px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 40px;
    font-size: larger;
    border: 1px solid $btnColor;
    cursor: pointer;
    transition: ease-in-out 0.3s;

    &:hover {
        background-color: #0919ce;
        color: white;
    }
}

.submitBtnDisabled {
    margin-top: 1.2rem;
    color: $btnColor;
    background-color: white;
    padding: 26px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 40px;
    font-size: larger;
    border: 1px solid $btnColor;
    transition: ease-in-out 0.3s;
}

.invalidFeedback{
    width: 100%;
    @include dFlex($j: flex-start, $g: 16px);
    color: red;
    img{
        margin-left: 16px;
        margin-right: 16px;
    }
}

::placeholder {
    color: $btnColor;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12-18 */
    color: $btnColor;
}

.passwortImg {
    width: 100%;
    @include dFlex($j: flex-start);
    .passwordInput {
        padding: 12px;
        padding-left: 16px;
        padding-right: 48px;
        border: 1px solid $btnColor;
        border-radius: 30px;
        outline: none;
        font-size: larger;
        width: calc(100% - 4rem);
        color: $btnColor;
    }

    img {
        margin-left: -40px;
        cursor: pointer;
    }
}


footer {
    width: 100%;
    margin: 2rem;
    @include dFlex($g: 80px);

    span {
        cursor: pointer;
        font-size: 1.2rem;
        transition: ease-in-out 0.3s;
        color: white;

        &:hover {
            color: $btnColor;
        }
    }
}