<header>
    <div  class="logoBox">
        <img [routerLink]="['/video_site']" src="../../../assets/img/logo_small.svg" alt="logo" class="logo"/>
        <img src="../../../assets/img/burger-menu.png" alt="menu" class="burgerMenuIcon" (click)="toggleMobileMenu()">
        <div class="headerBtns">
            <button [routerLink]="['/video_site']" class="headerBtn">Home</button>
            <button class="headerBtn" (click)="toggleCategoryMenu($event)">Category</button>
            
            <div class="categorySelection" [ngClass]="{'slideInAnimation': showCategorySelection, 'slideOutAnimation': !showCategorySelection}"(click)="$event.stopPropagation()">
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'action']" class="profilSelectionBtn">Action</button>
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'anime']" class="profilSelectionBtn">Anime</button>
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'drama']" class="profilSelectionBtn">Drama</button>
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'romance']" class="profilSelectionBtn">Romance</button>
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'adventure']" class="profilSelectionBtn">Adventure</button>
            </div>
            <button class="headerBtn" [routerLink]="['/favorites',]">Favorites</button>
        </div>
    </div>
    
    <div class="btnBoxRight">
        <div class="userNameBox">
            <h1 class="welcomeH1">Welcome</h1>
            <div class="role">
                <div class="block"></div>
                <h1 (click)="openSmallMenu($event)">{{userService.currentUserFirstName}}</h1>
            </div>
        </div>
        <div class="profilSelection" [ngClass]="{'slideInAnimation': shwonProfilSelection, 'slideOutAnimation': !shwonProfilSelection}" (click)="$event.stopPropagation()">
            <button  class="profilSelectionBtn" [routerLink]="['/profile_details']">Manage profile</button>
            <button  (click)="logout()" class="profilSelectionBtn" ><img src="../../../assets/icons/logout.svg" alt="log out img"/>Log out</button>
        </div>
    </div>

      <!-- Dropdown-Menü (mobile View) -->
    <div (click)="$event.stopPropagation()" [ngClass]="{'mobileSection':showMobileSelection, 'mobileSectionOff':!showMobileSelection}"> 
        <button (click)="toggleMobileMenu()"  [routerLink]="['/video_site']" >Home</button>
        <button (click)="toggleMobileMenu()" [routerLink]="['/video_categorys', 'action']" class="profilSelectionBtn">Action</button>
        <button (click)="toggleMobileMenu()" [routerLink]="['/video_categorys', 'anime']" >Anime</button>
        <button (click)="toggleMobileMenu()" [routerLink]="['/video_categorys', 'drama']">Drama</button>
        <button (click)="toggleMobileMenu()" [routerLink]="['/video_categorys', 'romance']" >Romance</button>
        <button (click)="toggleMobileMenu()" [routerLink]="['/video_categorys', 'adventure']">Adventure</button>
        <button (click)="toggleMobileMenu()" [routerLink]="['/favorites',]">Favorites</button>
        <button  class="profilSelectionBtn" [routerLink]="['/profile_details']">Manage profile</button>
        <button  (click)="logout()" class="profilSelectionBtn" ><img src="../../../assets/icons/logout.svg" alt="log out img"/>Log out</button>
    </div>
</header>