<header>
    <div class="logoBox">
        <img [routerLink]="['/video_site']" src="../../../assets/img/logo_small.svg" alt="logo" class="logo"/>
        <div class="headerBtns">
            <button [routerLink]="['/video_site']" class="headerBtn">Home</button>
            <button class="headerBtn" (click)="toggleCategoryMenu($event)">Category</button>
            
            <div class="categorySelection" [ngClass]="{'slideInAnimation': showCategorySelection, 'slideOutAnimation': !showCategorySelection}"(click)="$event.stopPropagation()">
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'action']" class="profilSelectionBtn">Action</button>
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'anime']" class="profilSelectionBtn">Anime</button>
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'drama']" class="profilSelectionBtn">Drama</button>
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'romance']" class="profilSelectionBtn">Romance</button>
                <button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_categorys', 'adventure']" class="profilSelectionBtn">Adventure</button>
            </div>
            <button class="headerBtn" [routerLink]="['/favorites',]">Favorites</button>
        </div>
    </div>
    <div class="btnBoxRight">
        <div class="userNameBox">
            <h1 class="welcomeH1">Welcome</h1>
            <div class="role">
                <div class="block"></div>
                <h1 (click)="openSmallMenu($event)">{{userService.currentUserFirstName}}</h1>
            </div>
        </div>
        <!-- <button class="blueBtn" (click)="openSmallMenu($event)">Profile</button> -->
        <div class="profilSelection" [ngClass]="{'slideInAnimation': shwonProfilSelection, 'slideOutAnimation': !shwonProfilSelection}" (click)="$event.stopPropagation()">
            <button  class="profilSelectionBtn" [routerLink]="['/profile_details']">Manage profile</button>
            <button  (click)="logout()" class="profilSelectionBtn" ><img src="../../../assets/icons/logout.svg" alt="log out img"/>Log out</button>
        </div>
    </div>
</header>


<!-- 
<button (click)="toggleCategoryMenu($event)" [routerLink]="[{ outlets: { videoContent: ['video_categorys', 'action'] } }]" class="profilSelectionBtn">Action</button>
<button (click)="toggleCategoryMenu($event)" [routerLink]="['/video_site', { outlets: { videoContent: ['video_categorys', 'action'] } }]" class="profilSelectionBtn">Anime</button> -->