<section>
    <div class="headerDiv">
      <img src="../../../assets/img/Logo.svg" alt="Logo">
    </div>
  
    <div class="textDiv">
      <p>
        Dear user, <br>
        there is already a member under this email. <br>
        Please log in with your existing account.
      </p>
      <button [routerLink]="['/login']" class="loginBtn">Log in</button>
    </div>
  
    <footer>
      <span [routerLink]="['/privacy_policy']">Datenschutz</span>
      <span [routerLink]="['/imprint']">Impressum</span>
    </footer>
  </section>