@import './../../../../../styles.scss';

section{
    width: 100vw;
    height: 100dvh;
    @include dFlex($j: space-between);
    flex-direction: column;
    background-image: url('../../../../../assets/img/background_img_woman.webp');
    background-size: cover;
    background-position: center;
        .loginBtn {
            color: whitesmoke;
            background-color: $btnColor;
            padding: 26px;
            padding-top: 12px;
            padding-bottom: 12px;
            border: none;
            border-radius: 40px;
            font-size: larger;
            cursor: pointer;
            transition: ease-in-out 0.3s;
    
            &:hover {
                background-color: whitesmoke;
                color: $btnColor;
            }
        }
    }

    .textDiv{
        max-width: 400px;
        color: $btnColor;
        background-color: white;
        padding: 2rem;
        border-radius: 25px;
    }