@import "./../../../../styles.scss";


section {
  width: 100%;
  height: 100%;
  max-width: 360px;
  aspect-ratio: 16/9;
  position: relative;
  cursor: pointer;
  min-height: 203px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .descriptionBox {
    font-size: large;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: linear-gradient(
      to bottom,
      #202020a3 0%,
      #202020a3 50%,
      #20202066 70%,
      transparent 100%
    );
    padding: 16px;
    transform: translateY(100%);
    opacity: 0;
    color: white;
  }
}

.descriptionVisible {
  animation: slideIn 0.5s linear forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(70%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    border-radius: 12px;
  }
}

.descriptionHide {
  animation: slideOut 0.5s linear forwards;
  height: 0;
  opacity: 0;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(30%);
    opacity: 0;
  }

  100% {
    transform: translateY(100%);
    border-radius: 12px;
    height: 0;
    opacity: 0;
  }
}

@media (min-width: $screanWidthQHD) {
  section {
    max-width: 360px;
    min-height: 203px;

    .descriptionBox {
      font-size: x-large;
    }
  }
  
}

@media (max-width: 1200px) {
  section {
    .descriptionBox {
      display: none;
    }
  }
}


@media (max-width: 560px) {
  section {
    max-width: 304px;
    aspect-ratio: 16/9;
    min-height: 182px;  
  }
}
