<section>
    <app-header></app-header>

    <form class="contentDiv" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <h1>Reset password</h1>
        <div class="infoText">
            <span class="infoTextSpan">Create a new password for your <span class="infoTextBlue">Videoflix</span><br> account.</span>
        </div>

        <div class="positionInputs">
            <!----Password------>
            <div class="passwortImg">
                <input [type]="passwordFieldType" [(ngModel)]="password" placeholder="Enter a password" name="firstPassword" #firstPassword="ngModel" required class="passwordInput">
                <img src="../../assets/img/blue_eye.svg" alt="eye image" (click)="togglePasswordVisibility()">
            </div>
            @if (!checkPassword() &&firstPassword.touched) {
                <div class="invalidFeedback">
                    @if (password == ''){
                        <span><img src="../../../../assets/img/warning.svg" alt="allertImg">Password is required</span>
                    } @else if(!checkPassword()) {
                        <span><img src="../../../../assets/img/warning.svg" alt="allertImg">Password should have at least 5 characters</span>
                    } 
                </div>
            }

            <!----Confirm Password------>
            <div class="passwortImg">
                <input [type]="confirmPasswordFieldType" [(ngModel)]="confirm_password" placeholder="Confirm Password" name="confirmPassword" #confirmPassword="ngModel" required class="passwordInput">
                <img src="../../assets/img/blue_eye.svg" alt="eye image" (click)="toggleConfirmPasswordVisibility()">
            </div>
            @if (!checkConfirmPassword() && confirmPassword.touched) {
                <div class="invalidFeedback">
                    @if (confirm_password == ''){
                        <span><img src="../../../../assets/img/warning.svg" alt="allertImg">Password is required</span>
                    } @else if(!checkConfirmPassword()) {
                        <span><img src="../../../../assets/img/warning.svg" alt="allertImg">Password should have at least 5 characters</span>
                    } 
                </div>
            }
            @if (!checkEvenPasswords()) {
                <div class="invalidFeedback">
                    <span><img src="../../../../assets/img/warning.svg" alt="allertImg">Please check whether the passwords match</span>
                </div>
            }

        </div>
        <button type="submit" class="submitBtn" [ngClass]="{'submitBtn': checkAllInputs(), 'submitBtnDisabled': !checkAllInputs()}" [disabled]="!checkAllInputs()">Reset my password</button>
    </form>
    <app-footer></app-footer>
</section>

