@import "../../../styles.scss";


section {
    height: 100dvh;
    width: 100vw;
    @include dFlex($j: space-between);
    flex-direction: column;
    background-image: url('../../../assets/img/background_img_woman.webp');
    background-size: cover;
    background-position: center;
}
    .loginBtn {
        color: whitesmoke;
        background-color: $btnColor;
        padding: 26px;
        padding-top: 12px;
        padding-bottom: 12px;
        border: none;
        border-radius: 40px;
        font-size: larger;
        cursor: pointer;
        transition: ease-in-out 0.3s;

        &:hover {
            background-color: whitesmoke;
            color: $btnColor;
        }
    }

.mainContent{
    @include dFlex($j: space-between);
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    min-width: 400px;
    .blueText{
        color: $btnColor;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        &:hover {
            font-weight: 900;
            color: #0919ce;
        }
    }
 
    .blackText{
        color: black;
        font-weight: 500;
        font-size: 18px;
    }
    }
.rememberContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: -webkit-fill-available;
    padding-top: 12px;
    span{
        color: black;
        font-weight: 400;
        font-size: 16px;
        @include dFlex($g: 8px);
        position: relative;
        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .questionDiv{
            padding: 4px;
            width: 168px;
            background-color: #2196F3;
            color: white;
            border-radius: 14px;
            border-bottom-left-radius: 0;
            position: absolute;
            left: 136px;
            bottom: 12px;
        }
    }
}

.signContainer{
    padding-top: 8px;
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.contentDiv {
    @include dFlex($j: space-between);
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    padding-bottom: 16px;
    min-width: 400px;
    h1 {
        font-size: 3.5em;
        margin: 0;
        margin-bottom: 0.5rem;
        color: $btnColor;
    }
    .positionInputs{
        @include dFlex($a: start, $g: 12px);
        flex-direction: column;
        width: 100%;
        .normalInput {
            padding: 12px;
            padding-left: 16px;
            padding-right: 16px;
            border: 1px solid $btnColor;
            border-radius: 30px;
            outline: none;
            font-size: larger;
            width: calc(100% - 2rem);
            color: $btnColor;
        }
    }
    .btnBox{
        @include dFlex($g: 12px);
        .guestLogin{
            margin-top: 1.2rem;
            color: whitesmoke;
            background-color: $btnColor;
            padding-top: 12px;
            padding-bottom: 12px;
            border: none;
            border-radius: 40px;
            font-size: larger;
            cursor: pointer;
            transition: ease-in-out 0.3s;
            width: 120px;
            text-align: center;
            &:hover {
                background-color: #0919ce;
                color: white;
            }
        }
    }
}

.submitBtn {
    margin-top: 1.2rem;
    color: whitesmoke;
    background-color: $btnColor;
    padding: 26px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 40px;
    font-size: larger;
    border: 1px solid $btnColor;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    width: 120px;
    &:hover {
        background-color: #0919ce;
        color: white;
    }
}

.submitBtnDisabled {
    margin-top: 1.2rem;
    color: $btnColor;
    background-color: white;
    padding: 26px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 40px;
    font-size: larger;
    border: 1px solid $btnColor;
    transition: ease-in-out 0.3s;
    width: 120px;
}

.invalidFeedback{
    width: 100%;
    @include dFlex($j: flex-start, $g: 16px);
    color: red;
    img{
        margin-left: 16px;
        margin-right: 16px;
    }
}

::placeholder {
    color: $btnColor;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12-18 */
    color: $btnColor;
}

.passwortImg {
    width: 100%;
    @include dFlex($j: flex-start);
    .passwordInput {
        padding: 12px;
        padding-left: 16px;
        padding-right: 48px;
        border: 1px solid $btnColor;
        border-radius: 30px;
        outline: none;
        font-size: larger;
        width: calc(100% - 4rem);
        color: $btnColor;
    }

    img {
        margin-left: -40px;
        cursor: pointer;
    }
}

/* Checkbox styling */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 1px solid #2e3edf;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
 
  input[type="checkbox"]:checked {
    background-color: #2e3edf;
    border: 2px solid #2e3edf;
  }
  

  input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.shwoQ-Div{
    animation: showDiv 0.2s ease-in-out;
}

@keyframes showDiv {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hideQ-Div{
    opacity: 0;
    visibility: hidden; 
    animation: hideDiv 0.2s ease-in-out;
}

@keyframes hideDiv {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 630px) {
   
    .mainContent{
        padding: 1rem;
        min-width: auto;
       
        .blueText{
            font-weight: 700;
            font-size: 16px;
        }
     
        .blackText{
            color: black;
            font-weight: 500;
            font-size: 15px;
        }
    }

    .contentDiv {
        padding-bottom: 16px;
        min-width: auto;
        width: 254px;
        padding: 0.5rem;
      
        h1 {
            font-size: 2.3em;
            margin: 0;
            margin-bottom: 0.5rem;
        }

        .btnBox{
            .guestLogin{
                padding: 0;
                padding-top: 8px;
                padding-bottom: 8px;
                font-size: medium;
                width: 96px;
            }
        }
    }

    .forgotContainer{
        margin-top: 12px;
    }

    .rememberContainer{
        display: flex;
        justify-content: flex-start;
        width: -webkit-fill-available;
        gap: 4px;
        padding-top: 12px;
        span{
            color: black;
            font-weight: 400;
            font-size: 16px;
            @include dFlex($g: 8px);
            position: relative;
            img{
                width: 16px;
                height: 16px;
            }
            .questionDiv{
                bottom: 22px;
                left: -36px;
                border-radius: 14px;
                border-bottom-right-radius: 0;
                font-size: smaller;
                width: 160px;
            }
        }
    }

    .submitBtn {
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: medium;
        width: 96px;
    }
    
    .submitBtnDisabled{
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: medium;
        width: 96px;
    }

    input[type="checkbox"]{
        width: 16px;
        height: 16px;
    }
}


  