@import './../../../../styles.scss';

.footer {
    // width: 100%;
    width: 100vw;
    // margin: 2rem;
    margin-bottom: 2rem;
    @include dFlex($g: 80px);

    span {
        cursor: pointer;
        font-size: 1.2rem;
        transition: ease-in-out 0.3s;
        color: white;

        &:hover {
            color: $btnColor;
        }
    }
}