@import "./../../../../styles.scss";

.footer {
  width: 100vw;
  margin-bottom: 2rem;
  @include dFlex($g: 80px);

  span {
    cursor: pointer;
    font-size: 1.2rem;
    transition: ease-in-out 0.3s;
    color: white;

    &:hover {
      color: $btnColor;
    }
  }
}
@media (max-width: 500px) {
  .footer {
    margin-bottom: 1rem;
  }
}
